@use "../src/styles/base.scss";
@use "../src/shared/ui/FrameCardMarket/FrameCardMarket.scss";
@use "../src/features/market/components/CreateOrderModal.scss";
@use "../src/features/profile/components/HistorySection.scss";
@use "../src/features/profile/components/NotificationCard.scss";
@use "../src/features/profile/components/LanguageCard.scss";
@use "../src/features/profile/components/Switch.scss";
