:root {
  --bg: #171531;
  --text: #e5e7eb;
  --card: #111827;
  --border: #7162be;
  --violet: #a542f9;
  --yellow: #f0f95d;
  --green: #7ebf3e;
  --green-light: #b6fd7d;
  --blue: #427ff9;
  --blue-light: #6dbafb;
  --card-title: #393b71;
  --card-back: #1d1f45;
  --radius: 14px;
  --font-main: "Nunito", "Inter", system-ui, -apple-system, "Segoe UI", sans-serif;

  --fs-10: 10px;
  --fs-12: 12px;
  --fs-14: 14px;
  --fs-16: 16px;
  --fs-17-5: 17.5px;
  --fs-18: 18px;
  --fs-20: 20px;
  --fs-32: 32px;

  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;
}

body {
  font-family: var(--font-main);
  background: var(--bg);
  color: var(--text);
}

.app {
  width: 100%;
  max-width: 390px;
  min-height: 100dvh;
  margin: 0 auto;
  padding: 12px;
  overflow-x: hidden;
  position: relative;
}

.card {
  background: var(--card);
  border: 1px solid var(--border);
  border-radius: var(--radius);
  padding: 12px;
}

.table_polygon {
  clip-path: polygon(18% 0, 100% 0, 100% 92%, 93% 100%, 0 100%, 0 15%);
}

p { font-weight: var(--fw-300); }
