@use '../src/styles/base.scss';
@use '../src/features/market/components/CreateOrderModal.scss';
@use '../src/features/profile/components/NotificationCard.scss';
@use '../src/features/profile/components/LanguageCard.scss';
@use '../src/features/profile/components/Switch.scss';
@use '../src/features/profile/components/HistorySection.scss';
