@use "../components/TopBar/top-bar.scss";
@use "../ui/UniversalInfoCard/UniversalInfoCard.scss";
@use "../ui/FriendsCard/FriendsCard.scss";
@use "../ui/CardText/CardText.scss";
@use "../ui/CutCornerButton/CutCornerButton.scss";
@use "../components/RetroBigButton/RetroBigButton.scss";
@use "../components/DotsBlock/DotsBlock.scss";
@use "../components/ReferralHistory/ReferralHistory.scss";
@use "../components/Navigation/Navigation.scss";
@use "../features/finances/FinancesPage.scss";
@use "../features/market/MarketPage.scss";
@use "./utilities.scss";
@use "./fonts.scss";
/* base.scss */
:root {
  --bg: #171531;
  --text: #e5e7eb;
  --card: #111827;
  --border: #7162be;
  --violet: #a542f9;  
  --yellow: #f0f95d;
  --green: #7ebf3e;
  --green-light: #b6fd7d;
  --blue: #427ff9;
  --blue-light: #6dbafb;
  --card-title: #393b71;
  --card-back: #1d1f45;
  --radius: 14px;
  --font-main:
    "Nunito", "Inter", system-ui, -apple-system, "Segoe UI", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body,
#root {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  font-family: var(--font-main);
  background: var(--bg);
  color: var(--text);
}

.app {
  width: 100%;
  margin: 0 auto;
  min-height: 100dvh;
  max-width: 480px;
  margin: 0 auto;
  padding: calc(12px + env(safe-area-inset-top)) 10px
    calc(80px + env(safe-area-inset-bottom));
  overflow-x: hidden;
  border: 1px solid red;
  position: relative;
}

.card {
  background: var(--card);
  border: 1px solid var(--border);
  border-radius: var(--radius);
  padding: 12px;
}

.table_polygon {
  clip-path: polygon(18% 0, 100% 0, 100% 92%, 93% 100%, 0 100%, 0 15%);
}

.marketCards {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.bigButtonBlocks {
  margin: 24px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
p{
  font-weight: 300;
}