@use "../components/TopBar/top-bar.scss";
@use "../components/DotsBlock/DotsBlock.scss";
@use "../components/Navigation/Navigation.scss";
@use "../shared/ui/UniversalInfoCard/UniversalInfoCard.scss";
@use "../shared/ui/CutCornerButton/CutCornerButton.scss";
@use "../shared/ui/RetroBigButton/RetroBigButton.scss";
@use "../features/referrals/components/FriendsCard.scss";
@use "../features/referrals/components/CardText.scss";
@use "../features/referrals/components/ReferralHistory.scss";
@use "../features/mining/MiningPage.scss";
@use "../features/referrals/ReferralsPage.scss";
@use "../features/finances/FinancesPage.scss";
@use "../features/market/MarketPage.scss";
@use "../features/profile/ProfileSettingsPage.scss";
@use "./utilities.scss";
@use "./fonts.scss";

:root {
  --bg: #171531;
  --text: #e5e7eb;
  --card: #111827;
  --border: #7162be;
  --violet: #a542f9;
  --yellow: #f0f95d;
  --green: #7ebf3e;
  --green-light: #b6fd7d;
  --blue: #427ff9;
  --blue-light: #6dbafb;
  --card-title: #393b71;
  --card-back: #1d1f45;
  --radius: 14px;
  --font-main: "Nunito", "Inter", system-ui, -apple-system, "Segoe UI", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: var(--font-main);
  background: var(--bg);
  color: var(--text);
}

.app {
  width: 100%;
  min-height: 100dvh;
  margin: 0 auto;
  padding: 12px 12px;
  overflow-x: hidden;
  position: relative;
}

.card {
  background: var(--card);
  border: 1px solid var(--border);
  border-radius: var(--radius);
  padding: 12px;
}

.table_polygon {
  clip-path: polygon(18% 0, 100% 0, 100% 92%, 93% 100%, 0 100%, 0 15%);
}

p {
  font-weight: 300;
}
