/* src/styles/fonts.scss */
@font-face {
  font-family: 'Nunito';
  src: url('../assets/fonts/Nunito-Light.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('../assets/fonts/Nunito-Black.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
