@use '../../../src/shared/ui/UniversalInfoCard/UniversalInfoCard.scss';
@use '../../../src/shared/ui/FrameCardMarket/FrameCardMarket.scss';
@use '../../../src/features/referrals/components/FriendsCard.scss';
@use '../../../src/features/referrals/components/CardText.scss';
@use '../../../src/features/referrals/components/ReferralHistory.scss';
