.cardText{
  width: 100%;
  min-height: 64px;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--border);
  border-radius: 6px;
  background-color: var(--card-back);
  .text{
    font-size: 12px;
    font-weight: 300;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
  }
}