.referalHistory {
  margin-top: 24px;

  &__title {
    font-size: var(--fs-12);
    font-weight: var(--fw-300);
    line-height: 1.2;
    margin-bottom: 6px;
    text-align: center;
  }

  &__card {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--border);
    background-color: var(--card-back);
    border-radius: 12px;
    overflow-y: auto;
    max-height: 492px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 100%;
  }

  &__item {
    width: 100%;
    display: flex; // чтобы аватар и инфо были в ряд
    align-items: center;
    gap: 8px;
  }

  &__avatar {
    width: 30px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid var(--border);
    flex-shrink: 0;
  }

  &__info {
    flex: 1;
    min-width: 0;
    padding: 4px 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 12px;
  }

  &__info--active {
    border: 1px solid var(--border);
  }

  &__info_left {
    display: flex;
    flex-direction: column;
    gap: 2px;
    min-width: 0;
  }

  &__name {
    margin: 0;
    font-size: var(--fs-10);
    font-weight: var(--fw-300);
    line-height: 1.2;
  }

  &__score {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: var(--fs-10);
    font-weight: var(--fw-300);
    line-height: 1.2;
    color: var(--yellow);

    img {
      width: 12px;
      height: 12px;
      display: block;
    }

    span {
      line-height: 1;
    }
  }

  &__delta {
    margin: 0;
    font-size: var(--fs-10);
    font-weight: var(--fw-300);
    line-height: 1.2;
    color: var(--yellow);
  }
}
