.fc-card {
  --border: #5e63c9;
  --card-title: #45498d;
  --yellow: #e8f55a;

  position: relative;
  width: 100%;
  background: transparent;
  clip-path: polygon(4% 0, 100% 0, 100% 92%, 97% 100%, 0 100%, 0 13%);
  isolation: isolate;

  p {
    margin: 0;
  }

  &__frame {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 2;
  }

  &__header,
  &__body {
    position: relative;
    z-index: 1;
  }

  &__header {
    padding: 12px 24px;
    background: var(--card-title);
    border-bottom: 1px solid var(--border);
  }

  &__title {
    margin: 0;
    font-size: 12px;
    font-weight: 300;
    line-height: 1.2;
    text-align: center;
  }

  &__body {
    padding: 0 12px;
  }

  &__row {
    padding: 12px 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__cell--top {
    border-bottom: 1px solid var(--border);
    padding-bottom: 10px;

    p {
      font-size: 10px;
      font-weight: 300;
      opacity: 0.9;
    }
  }

  &__cell--bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
  }

  &__row--inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;
    width: 30%;
  }

  &__label {
    display: flex;
    align-items: center;
    gap: 4px;
    p {
      font-size: 10px;
      font-weight: 300;
      line-height: 1.2;
      white-space: nowrap;
    }
  }
  &__users-icon {
    width: 12px;
    height: 12px;
    color: var(--violet); 
  }

  &__users-icon path,
  &__users-icon circle,
  &__users-icon rect {
    stroke: currentColor;
  }

  &__value {
    p {
      font-size: 10px;
      font-weight: 300;
      line-height: 1.2;
      color: var(--yellow);
      white-space: nowrap;
    }
  }
  &__ton {
    width: 16px;
    height: 16px;
  }
}
