.create-order-modal__close{}
.create-order-modal__input{}
.create-order-modal__section{}
.create-order-modal__submit{}
.create-order-modal__title{}
.cut-corner-btn__icon{}
.dotsBlock--bottom{}
.dotsBlock--top{}
.fc-card__frame{}
.fc-card__header{}
.fc-card__title{}
.fcm-card__body{}
.fcm-card__frame{}
.finance-tabs__btn{}
.finances-page__title{}
.js-open-create{}
.market-controls__chevron{}
.market-controls__dropdown{}
.market-controls__dropdownBtn{}
.market-controls__dropdownItem{}
.market-controls__dropdownMenu{}
.market-controls__fromTo{}
.market-controls__fromToIcon{}
.market-controls__tab{}
.market-controls__tabs{}
.market-header__refresh{}
.market-header__title{}
.market-page__createWrap{}
.market-page__grid{}
.mining-page__actions{}
.mining-page__cards{}
.navigation__icon-users{}
.referalHistory__card{}
.referalHistory__title{}
.referrals-page__actions{}
.referrals-page__cards{}
.retro-gold-btn__border{}
.retro-gold-btn__dots{}
.retro-gold-btn__surface{}
.retro-gold-btn__text{}
.uic-card__body{}
.uic-card__cell{}
.uic-card__cell--left{}
.uic-card__cell--right{}
.uic-card__frame{}
.uic-card__header{}
.uic-card__label{}
.uic-card__row{}
.uic-card__title{}
.uic-card__value{}
