.navigation {
  // left: 0;
  // right: 0;
  // bottom: 0;
  width: 100%;
  box-sizing: border-box; 
  padding: 12px 16px;
  margin-top: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__icon-users {
    color: white;
  }
}
