@use '../../../src/features/profile/components/HistorySection.scss';
@use '../../../src/features/profile/components/NotificationCard.scss';
@use '../../../src/features/profile/components/LanguageCard.scss';
