.withdraw-panel {
  display: flex;
  flex-direction: column;
  gap: 12px;

  &__card {
    .uic-card__content {
      display: flex;
      flex-direction: column;
      gap: 10px;
      // padding: 14px;
      padding-bottom: 14px;
    }
    &--cyan {
      .uic-card__content {
        align-items: center;
      }
    }
  }

  &__availableLabel {
    margin: 0;
    color: rgba(220, 246, 255, 0.9);
    font-size: var(--fs-12);
    font-weight: var(--fw-300);
  }
  &__availableValue {
    margin: 0;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    font-size: var(--fs-10);
    font-weight: var(--fw-300);
    color: #fff;
    padding-inline: 14px;
    

    img {
      width: 22px;
      height: 22px;
      display: block;
    }
  }

  &__title {
    margin: 0;
    font-size: var(--fs-12);
    color: #fff;
    font-weight: var(--fw-300);
    background-color: var(--card-title);
    width: 100%;
    padding: 14px;
  }

  &__input {
    height: 32px;
    border-radius: 6px;
    border: 1px solid rgba(252, 223, 247, 0.45);
    background: rgba(255, 255, 255, 0.08);
    color: #fff;
    font-size: var(--fs-12);
    font-weight: var(--fw-300);
    padding: 0 8px;
    margin: 0 14px;
    outline: none;

    &::placeholder {
      color: rgba(255, 224, 250, 0.5);
    }

    &--small {
      height: 32px;
      font-size: var(--fs-12);
      font-weight: var(--fw-300);
    }
  }

  &__meta {
    display: grid;
    gap: 8px;
    padding: 0 14px;
    div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: var(--fs-10);

      strong {
        font-weight: var(--fw-300); 
      }
    }
  }

  &__hint {
    margin: 0;
    font-size: var(--fs-10);
    line-height: 1.35;
    padding: 0 14px;
    
  }

  &__warning {
    min-height: 32px;
    border-radius: 6px;
    border: 1px solid rgba(246, 193, 82, 0.55);
    background: linear-gradient(
      180deg,
      rgba(130, 80, 24, 0.72) 0%,
      rgba(82, 47, 12, 0.68) 100%
    );
    display: grid;
    place-items: center;
    text-align: center;
    color: #ffd84e;
    font-size: var(--fs-12);
    font-weight: var(--fw-300);
    padding: 8px 12px;
  }

  &__action {
    width: 100%;
    cursor: pointer;

    &:disabled {
      opacity: 0.6;
      cursor: not-allowed;
    }
  }

  &__history {
    width: 100%;
  }
}
