/* src/features/market/MarketPage.scss */
.market-page {

  width: 100%;
  color: var(--text);

  p {
    margin: 0;
  }

  &__createWrap {
    margin-bottom: 24px;
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
  }

  @media (max-width: 420px) {
    &__grid {
      gap: 10px;
    }
  }
}
