.finance-tabs {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0;
  border-radius: 20px;
  background: rgba(170, 184, 214, 0.28);
  padding: 3px;

  &__item {
    height: 29px;
    border: 0;
    border-radius: 18px;
    background: transparent;
    color: rgba(238, 243, 255, 0.82);
    font-size: var(--fs-17-5);
    font-weight: var(--fw-300);
    cursor: pointer;
    transition: 0.2s ease;

    &.is-active {
      background: rgba(228, 233, 246, 0.32);
      color: #fff;
    }
  }
}
