:root {
  --bg: #171531;
  --text: #e5e7eb;
  --card: #111827;
  --border: #7162be;
  --violet: #a542f9;
  --yellow: #f0f95d;
  --green: #7ebf3e;
  --green-light: #b6fd7d;
  --blue: #427ff9;
  --blue-light: #6dbafb;
  --card-title: #393b71;
  --card-back: #1d1f45;
  --radius: 14px;
  --font-main: "Nunito", "Inter", system-ui, -apple-system, "Segoe UI", sans-serif;
  --fs-10: 10px; --fs-12: 12px; --fs-14: 14px; --fs-16: 16px; --fs-18: 18px; --fw-300: 300; --fw-400: 400;
}
